<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 확장자 관리</title>
    <style>
        .extension-list {
            display: inline-block;
            margin-bottom: 10px;
        }

        .extension-list label {
            margin-right: 10px; /* 레이블 간격 조정 */
        }

        .custom-extensions-container {
            border: 1px solid #ccc; /* 테두리 스타일 */
            padding: 10px; /* 안쪽 여백 */
            margin-top: 10px;
            max-height: 150px;
            overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
        }
    </style>
    <script th:inline="javascript">
        function updateExtensionStatus(checkbox) {
            var extension = checkbox.dataset.extension; // 확장자 이름을 데이터 속성에서 가져옴
            var checked = checkbox.checked; // 체크박스의 상태를 가져옴
            fetch('/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ extension: extension, checked: checked })
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</head>
<body>
<hr>
<h1>파일 확장자 차단</h1>
<hr>
<!-- 고정 확장자 리스트 -->
<div>
    <h3>고정 확장자</h3>
    <div class="extension-list" th:each="fixedExt, iterStat : ${fixedExtensions}">
        <input type="checkbox" th:id="${fixedExt.extension}"
               th:data-extension="${fixedExt.extension}"
               th:checked="${fixedExt.checked}"
               onchange="updateExtensionStatus(this)" />
        <label th:for="${fixedExt.extension}" th:text="${fixedExt.extension}">.ext</label>
    </div>
</div>

<!-- 커스텀 확장자 입력 및 리스트 -->
<div>
    <h3>커스텀 확장자</h3>
    <form th:action="@{/addCustom}" method="post">
        <input type="text" name="customExtension" maxlength="20" placeholder="확장자 입력"/>
        <button type="submit">추가</button>
    </form>
    <div class="custom-extensions-container">
        <p th:text="${customExtensions.size()} + '/200'"></p>
        <div th:each="customExt, iterStat : ${customExtensions}" class="custom-extension">
            <span th:text="${customExt.extension}">.sh</span>
        </div>
    </div>
</div>
</body>
</html>
